<%- include('header') %>


<!-- <h1>share to heal</h1> -->

<div class="wrapper_center column">
    <div> <img src='public/SH_LOGO_GRAY.svg' width='200px'>
    </div>
    <form class="language" action="/lang" method="POST">
        <div>
            <div class="lang_button">
                <button class="button" type="submit" name="lang" value="en">English</button>
            </div>
            <div class="lang_button">
                <button class="button" type="submit" name="lang" value="es">Español</button>
            </div>
        </div>
    </form>
</div>


<%- include('footer') %>